@use '../abstracts' as a;
@use '../abstracts/keyframes' as key;
@use '../abstracts/mixins' as m;

.hero {
    grid-area: content;
    background-color: a.$neutral-0;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, auto);
    padding: a.$margin-lg;
    gap: a.$margin-lg;
    justify-content: end;
    align-content: start;

    @include m.respond-to('x-small') {
        padding: a.$margin-sm;
        gap: a.$margin-sm;
        grid-template-columns: 1fr;
        place-content: center;
    }

    .hero-developer {
        color: a.$neutral-100;
        grid-area: 1 / 1 / 1 / 7;
        text-align: end;
        line-height: 1;
        overflow: hidden;

        @include m.respond-to('x-small') {
            text-align: center;
        }

        h1 {
            font-family: 'PP Woodlands Bold', serif;
            font-size: a.$font-display;
            animation: push-in-from-bottom 800ms ease;
            overflow: hidden;

            @include m.respond-to('x-small') {
                font-size: a.$font-xl;
            }
        }

        p {
            font-family: 'Cutive Mono', monospace;
            font-size: a.$font-xsm;
            animation: push-in-from-bottom 1s ease;
            overflow: hidden;

            @include m.respond-to('x-small') {
                font-size: 0.8rem;
            }
        }
    }

    .hero-designer {
        color: a.$neutral-100;
        grid-area: 2 / 1 / 2 / 7;
        font-family: 'PP Woodlands Light', serif;
        font-size: 4.4rem;
        line-height: 0.8;
        text-align: end;
        overflow: hidden;
        display: flex;
        justify-content: end;
        gap: a.$margin-lg;

        @include m.respond-to('x-small') {
            gap: a.$margin-sm;
            text-align: center;
            justify-content: center;
        }

        h2 {
            overflow: hidden;
            animation: push-in-from-right 900ms ease;
            
            @include m.respond-to('x-small') {
                font-size: a.$font-xl;
                text-align: end;
                overflow: visible;
            }
        }

        .hero-and {
            color: a.$neutral-100;
            font-family: 'PP Woodlands Light', serif;
            font-size: 9.4rem;
            line-height: 1;
            align-self: center;
            animation: fade-in 700ms ease;

            @include m.respond-to('x-small') {
                font-size: a.$font-lg;
            }
        }
    }

    .hero-about {
        color: a.$neutral-100;
        grid-area: 3 / 1 / 3 / 7;
        width: 350px;
        place-self: end;
        font-family: 'PP Neue Montreal Book', sans-serif;
        font-size: a.$font-xsm;
        text-align: end;
        animation: fade-in 850ms ease;

        @include m.respond-to('x-small') {
            width: 100%;
            font-size: 1rem;
            place-self: center;
            text-align: center;
        }

        p {
            &:nth-child(2) {
                margin-top: 0.5rem;
                animation: fade-in 1s ease;
                margin-bottom: 2.4rem;
            }

            b {
                font-family: 'PP Neue Montreal Bold';
            }
        }

        a {
            animation: fade-in 1s ease;
            color: a.$neutral-100;
            font-size: a.$font-md;
            text-decoration: none;
            outline: 1px solid white;
            padding: 0.5rem;
            transition: 300ms ease;

            &:hover {
                background-color: a.$neutral-100;
                color: a.$neutral-0;
            }
        }
    }
}

#background-img {
    background-image: url(../images/background-img.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}